@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Qahiri&display=swap');

* {
    margin: 0;  
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: #578FC2;
}

p {
    font-weight: bold;  
    color: #325270;
}

.imc {
    height: 300px;
    width: 500px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color:#B6D5F2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

.primeiro {
    padding-top: 15px;
}

.imc > h2 {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: #325270;   
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.2rem; 
    font-weight: bold;
}

#nome { 
    margin: 5px;
}
#altura {
    margin: 5px;
}
#peso {
    margin: 5px;
}

.res {
    padding-top: 15px;
}

.wraper {
    height: 100vH;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

footer{
    font-size: 1.8rem;
    margin-top: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

aside {
    width: 350px;
    height: 203px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

table {
    width: 323px;
    margin: 13.5px;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

td {
    text-align: center;
    font-style: italic;
}

